td {
    padding: 10px;
  }

.notification {
  color: green;
  background: white;
  font-size: medium;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.error {
  color: red;
  background: white;
  font-size: medium;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}